* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header {
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: #FEFEFE;
}

.header__container {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
}




.nav-item {}

.nav-link {}

.main-link {
    padding: 8px 16px;
    background-color: #0F172A;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
    text-decoration: none;

}


.section__title {
    font-family: SF Pro Display sans-serif;
    font-weight: 590;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.75%;
    color: #0F172A;
}

.section__header {
    padding: 8px 16px;
    background-color: rgba(242, 242, 247, 1);
    border: none;
    display: flex;
}

.header__container {
    min-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;

}

.container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nav__list {
    display: flex;
    gap: 24px;
    list-style: none;
}

.section__header {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgba(242, 242, 247, 1);
    display: flex;
    align-items: center;
    border: none;
    gap: 8px;
}


.nav__link {
    font-family: SF Pro Display, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: black;
    text-decoration: none;
}

.hero {
    padding-top: 170px;
    padding-bottom: 196px;
    background-image: url(../img/hero/bg.svg);
}

.hero__container {
    max-width: 1240px;
    margin-left: auto;
    margin-inline-end: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.hero__title {
    font-family: SF Pro Display, sans-serif;
    font-weight: 590;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #0F172A;
    margin-bottom: 12px;
}

.hero-text {
    font-family: SF Pro Display, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #475569;
    margin-bottom: 40px;
}

.hero-link {
    padding: 10px 24px;
    background-color: #0F172A;
    border-radius: 8px;
    font-family: SF Pro Display, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: white;
    text-decoration: none;
}

.hero__img {
    min-width: 282px;
}

/* hero end */

/* brend start */
.brend {
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: #f2f2f7;
}

.brend__container {
    display: flex;
    justify-content: space-between;
}

.brend__logo {
    width: 135px;
    gap: 16px;
}

/* brend end */

/* service start */


.service {
    background-image: url(../img/hero/bg.svg);
    padding-top: 120px;
    padding-bottom: 72px;
    display: flex;
    gap: 87px;
    align-items: start;
}

.service__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

}

.service__left {
    position: sticky;
    top: 20px;
}

.service__header {
    background-color: #F2F2F7;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    gap: 24px;


}

.service__title {
    font-family: SF Pro Display sans-serif;
    font-weight: 590;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.75%;
    color: #0F172A;
}

.servis__list {
    padding-top: 40px;
}

.service__item {
    display: flex;
    align-items: start;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.service__item__info {
    width: 52px;
}

.service__link {
    gap: 24px;
}

.service__item__title {
    font-family: SF Pro Display sans-serif;
    font-weight: 590;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    color: #0F172A;
    margin-bottom: 8px;
}

.service-item-list {
    padding-left: 24px;
    list-style-type: disc;

}

.service__item__item {
    font-family: SF Pro Display sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #334155;
}

.service__img {
    width: 52px;
}

/* service end */

/* why us */
.why__us {
    padding-top: 64px;
    padding-bottom: 64px;
    background-image: url(../img/hero/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.why__us__container {
    text-align: center;
}

.why__us__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;

}

.why__us__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin-bottom: 32px;
    text-align: left;

}

.why__us__col {
    background: linear-gradient(102.43deg, #FEFEFE 16.88%, #f9f9f9 104.88%);
    border: 1px solid #e2e8f0;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.why__us__col__img {
    width: 48px;
    height: 48px;
    margin-bottom: 32px;
}

.why__us__col__title {
    font-family: SF Pro Display, sans-serif;
    font-weight: 590;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    margin-bottom: 8px;

}

.why__us__col__text {
    font-family: SF Pro Display, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;

}

.main__link {
    padding: 10px 24px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
    background-color: rgba(15, 23, 42, 1);
    font-family: SF Pro Display, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}

/* why us end */


/* portfolio start */
.partfolio {
    padding: 64px 0;
    background-image: url(../img/hero/bg.svg);
}

.portfolio__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.portfolio__card {
    max-width: 512px;
}

.portfolio__card__img {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 24px;
}


.portfolio__card__title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    color: rgba(15, 23, 42, 1);
    margin-bottom: 8px;
}

.portfolio__card__text {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
}



.portfolio__btn {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.portfolio__more {}

.portfolio__btn {}

.swiper__wrapper {
    display: flex;
}

.swiper-button-next1 {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.swiper-button-prev2 {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%) rotate(180deg);
}

.mySwiper {
    position: relative !important;
    max-width: 1056px;
}

.portfolio__row {
    position: relative;
}


.mySwipper {
    max-width: 1056px;
}

.swiper__wrapper {
    gap: 32px;
}

/* portfolio end */


/* about start */
.about {
    padding: 64px;
    padding-bottom: 0;
    background-image: url(../img/hero/bg.svg);

}

.about__container {
    text-align: center;
}

.about__title {
    text-align: center;
    margin-bottom: 64px;
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.75%;
    text-align: center;
    color: rgba(15, 23, 42, 1);

}


.section__title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.75%;
    text-align: center;
    color: rgba(15, 23, 42, 1);
    text-align: left;
}

.about__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    margin-bottom: 64px;
    text-align: left;
}

.about__col {
    padding: 32px;
    background: linear-gradient(102.43deg, #FEFEFE 16.88%, #F9F9F9 104.88%);
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 24px;
}

.about__col__title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    color: rgba(15, 23, 42, 1);
}

.about__col__text {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
}

/* about end */

/* commentary start */
.commentarty {
    padding-top: 120px;
    padding-bottom: 0;
    background-image: url(../img/hero/bg.svg);

}

.commentarty__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.commentary__list {
    padding-top: 40px;
    padding-bottom: 40px;
}

.commentary__item {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    gap: 24px;
    align-items: start;
    border-bottom: 1px solid rgba(226, 232, 240, 1);
}

.commentary__list .commentary__item.commentary__item:nth-child(3) {
    border-bottom: 0;
}

.commentary__item__img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.commentary__info {}

.commentary__item__title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.6%;
    color: rgba(15, 23, 42, 1);
}

.commentary__item__text {
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
}

.commentary__btn {
    padding: 8px 16px;
    border-radius: 8px;
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(15, 23, 42, 1);
    border: none;
}

/* commentary end */
/* contact start */
.contact {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../img/hero/bg.svg);

}

.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 68px;
}

.service__left {}

.contact__form {
    background: linear-gradient(102.43deg, #FEFEFE 16.88%, #F9F9F9 104.88%);
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 24px;
    padding: 24px;
    display: grid;
    gap: 24px;
}

.contact__item {
    display: grid;
    gap: 8px;
}

.contact__item__name {
    font-family: SF Pro, sans-serif;
    font-weight: Body/Font Weight Regular;
    font-style: Regular;
    font-size: Body/Size Medium;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

}

.contact__item__input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid rgba(217, 217, 217, 1);
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

}

.contact__form__btn {
    padding: 8px 24px;
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(15, 23, 42, 1);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    font-family: SF Pro, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
}

/* contact end */

/* footer start */
.footer {
    background-color: rgba(242, 242, 247, 1);
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer__container {
    display: flex;
    align-items: start;
}

.footer__info {
    margin-right: auto;
}

.footer__logo {
    width: 173px;
    margin-bottom: 66px;
}

.footer__text {
    font-family: SF Pro, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(100, 116, 139, 1);
}

.footer__right {
    display: grid;
    gap: 16px;
    min-width: 200px;
}

.footer__container .footer__right:nth-child(2) {
    margin-right: 48px;
}

.footer__right__title {
    font-family: SF Pro, sans-serif;
    font-weight: 590;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6%;
    color: rgba(15, 23, 42, 1);
    margin-bottom: 16px;
}

.footer__right__list {
    display: grid;
    gap: 12px;
}

.footer__right__link {
    font-family: SF Pro, sans-serif;
    font-weight: 510;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(71, 85, 105, 1);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* footer end */

@media (max-width: 768px) {
    .footer {
        padding-top: 64px;
        padding-bottom: 65px;
    }

    .footer__container {
        flex-direction: column;
        gap: 36px;
    }

    .footer__logo {
        width: 124px;
        margin-bottom: 16px;
    }

    .footer__text {
        font-size: 14px;
        line-height: 24px;
    }

    .footer__container .footer__right:nth-child(2) {
        margin-right: 48px;
    }

    .footer__right {
        gap: 12px;
    }

    .footer__right__title {
        font-size: 18px;
        line-height: 28px;
    }

    .footer__right__link {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    .contact {
        padding-top: 60px;
        padding-bottom: 100px;
    }

    .contact__container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .contact__form {
        padding: 16px;
        border-radius: 16px;
        gap: 16px;
    }

    .contact__form__btn {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 28px;
    }
}

@media(max-width:768px) {
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .header__img {
        width: 82px;
        margin-bottom: 40px;
    }

    .nav__list {
        display: none;
    }

    .main__link {
        padding: 8px 12px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 510;
    }
}

@media (max-width:768px) {
    .hero {
        padding-top: 80px;
        padding-bottom: 168px;
    }

    .hero__container {
        flex-direction: column-reverse;
        justify-content: start;
        text-align: left;
        align-items: start;
    }

    .hero__img img {
        width: 102px;
        margin-bottom: 40px;
    }

    .hero__title {
        font-size: 32px;
        line-height: 120%;
        margin-bottom: 8px;
        font-weight: 590;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: 0%;

    }

    .hero__text {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    .hero__link {
        padding: 14px 24px;
        font-size: 14px;
        line-height: 20px;
    }

}

@media (max-width:1024px) {
    .brend {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .brend__container {
        gap: 10px;
    }

    .brend__logo {
        max-height: 32px;
        height: 100%;
    }

    .brend__container .brend__logo.brend__logo:nth-child(2n) {
        display: none;
    }
}

@media (max-width: 840px) {
    .service {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    .service__item {
        gap: 12px;
    }

    .service__img {
        width: 44px;
        margin-top: 20px;

    }

    .service__item__title {
        font-weight: 590;
        font-size: 24px;
        line-height: 32px;
    }

    .service__item__item {
        font-size: 16px;
        line-height: 28px;

    }

    .service__container {
        grid-template-columns: 1fr;
    }

    .service__left {
        position: static;
    }
}

@media (max-width:786px) {
    .section__title {
        font-size: 20px;
        line-height: 28px;
    }

    .section__header {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
    }
}

@media (max-width: 980px) {
    .why__us__row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .why__us__row {
        grid-template-columns: 1fr;
    }

    .why__us {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .why__us__container {
        text-align: center;
    }

    .why__us__top {
        justify-content: start;
        align-items: start;
        margin-bottom: 24px;
    }

    .why__us__row {
        gap: 16px;
        margin-bottom: 24px;
    }

    .why__us__col {
        padding: 16px;
        border-radius: 20px;
    }

    .why__us__col__img {
        width: 44px;
        margin-bottom: 16px;
    }

    .why__us__col__title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;
    }

    .why__us__col__text {
        font-size: 14px;
        line-height: 24px;
    }

    .main__link {
        padding: 14px 24px;
        font-size: 16px;
        line-height: 28px;
    }
}


@media(max-width:1224px) {
    .portfolio {}

    .portfolio__row {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width:900px) {
    .about__row {
        grid-template-columns: 1fr 1fr;

    }
}

@media (max-width:768px) {
    .about {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .about__title {
        text-align: left;
        margin-bottom: 24px;
    }

    .about__col {
        max-width: 342px;
        padding: 24px;
        border-radius: 20px;
    }

    .about__col__title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 8px;
    }

    .about__col__text {
        font-size: 16px;
        line-height: 28px;
    }

    .about__row {
        gap: 16px;
        margin-bottom: 24px;
    }
}

@media(max-width:540px) {
    .about__row {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .commentarty {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .commentarty__container {
        grid-template-columns: 1fr;
    }

    .commentarty__list {
        padding-top: 0;
    }

    .commentary__item {
        padding-top: 24px;
        padding-bottom: 24px;
        gap: 12px;
    }

    .commentary__item__img {
        width: 56px;
        height: 56px;
    }

    .commentary__item__title {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 8px;
    }

    .commentary__item__text {
        font-size: 14px;
        line-height: 24px;
    }

    .commentarty__list {
        padding-bottom: 0;
    }

}